.mainDiv{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    //flex-direction: row-reverse;
}

.mainDiv div{
    height: 20vh;
    filter: invert(0);
}

.mainDiv div:not(:first-child){
    margin-left: -7vh;
}

.lock{
    filter: invert(25%);
}

.up{
    transform : translate(0, -3vh);
}


/*
.mainDiv div.lock{
    filter: invert(25%);
}



.uno:hover{
    transform : translate(0, -3vh);
}

.dos:hover,.dos:hover +div{
    transform : translate(0, -3vh);
}

.tres:hover,.tres:hover +div,.tres:hover +div +div{
    transform : translate(0, -3vh);
}

.cuatro:hover,.cuatro:hover +div,.cuatro:hover +div +div,.cuatro:hover +div +div +div{
    transform : translate(0, -3vh);
}


*/



///////////////////////////////////////////////
