.mainDiv{
    display: flex;
    flex-wrap: nowrap;
    height: 20vh;
}

.mainDiv div:not(:first-child) app-carte{
    margin-left: -50px;
}

//[ngClass]="{'notplayable': !c.playable,'playable': c.playable,'playing':c.playable && playing }"

app-carte:hover{
    filter: invert(100%);
    transform: translate(0px, -3vh);

}

.notplayable{
    //filter: invert(25%);
}

.playable{
    //filter: invert(0%);
}

.playing{
    //cursor: pointer;
}

.playing:hover{
    //filter: invert(100%);
    //margin: 50px;
}