.mainDiv{
    text-align: center;
}

.nav{
    width: 80vh;
    margin: auto;
    display: flex;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.quitBtn{
    background-color: red;
}

.playing{
    border: 5px solid yellow;
}

.players{
    width: 80vh;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.player{
    margin-inline: 1%;
}

.centerCards{
    width: 100%;
    display: flex;
    justify-content: center;
}

app-player{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.pssBtn{
    border-radius: 25%;
    background-color: red;
    margin: 2%;
}