<div class="mainDiv">

    <div class="nav">
        <h1> President table {{tableID}} </h1>
        <input class="quitBtn" type="button" value="Quit" (click)="quit()">
    </div>
    


    <div class="players" >
        <app-player class="player" *ngFor="let p of players" [player]="p"></app-player>
    </div>


    <app-cards-center class="centerCards" [cards]="centerCard"></app-cards-center>

    <app-player *ngIf="me" [player]="me"></app-player>

    <input class="pssBtn" type="button" value="Pass" (click)="pass()">

    <app-hand></app-hand>
    
    
    
    <app-ready-msg *ngIf="showReady" [fct]="clickOK()"></app-ready-msg>
</div>


