

<div class="mainDiv">
    <a routerLink="../..">HOME</a>
    <h1>Login up</h1>



    <form [formGroup]="form" (ngSubmit)="submit()">
        <div>
            <label for="pseuso" >Pseudo</label>
            <input id="pseuso" type="text" formControlName="pseudo">
            <span class="errorMsg" *ngIf="form.get('pseudo')?.touched && form.get('pseudo')?.errors?.['required']">Le champs est requis</span>
        </div>
        <div>
            <label for="password">password</label>
            <input id="password" type="password" formControlName="password">
            <span class="errorMsg" *ngIf="form.get('password')?.touched && form.get('password')?.errors?.['required']">Le champs est requis</span>
        </div>
        <div>
            <label for="password2">confirm password</label>
            <input id="password2" type="password" formControlName="password2">
            <span class="errorMsg" *ngIf="form.get('password2')?.touched && form.get('password2')?.errors?.['required']">Le champs est requis</span>
            <span class="errorMsg" *ngIf="form.get('password2')?.touched && form.errors?.['notsame']">passwords different</span>
        </div>
        <button type="submit" >Login up</button>
    </form>

    <a routerLink="../login">login in</a>

</div>
