<div class="mainDiv">

    <a routerLink="../..">HOME</a>

    <h2>Connexion</h2>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div>
            <label for="pseuso" >Pseudo</label>
            <input id="pseuso" type="text" formControlName="pseudo">
            <span class="errorMsg" *ngIf="loginForm.get('pseudo')?.touched && loginForm.get('pseudo')?.errors?.['required']">Le champs est requis</span>
        </div>
        <div>
            <label for="password">password</label>
            <input id="password" type="password" formControlName="password">
            <span class="errorMsg" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']">Le champs est requis</span>
        </div>
        <button type="submit" >Login in</button>
        <span class="errorMsg" *ngIf="loginError">login error</span>
    </form>

    <!-- //TODO forget password -->

    <a routerLink="../register">no login ? login up</a>
</div>