<h1>Home</h1>

<input type="button" routerLink="user/login" value="Login">
<input type="button" (click)="sseTeam()" value="create SSE team">
<input type="button" (click)="getTeams()" value="get all teams">
<input type="button" (click)="JoinTeam()" value="join team">


<p>President tables</p>
<input *ngIf="user" type="button" (click)="addPresiTable()" value="new table">
<div *ngFor="let table of presiTableLIst;index as i">
    <input type="button" (click)="joinPresiTable(table.id)" value="players : {{table.players.length}}">
    <input *ngIf="table.joined" type="button" (click)="leaveTableIndex(i)" value="Quit">
    <input *ngIf="table.joined" type="button" [routerLink]="['presi/table', table.id]" value="GO">
</div>